<%# partial view %>
<%#  Rails form builder example %>
<%#  results of this form are passed as the params hash %>
<%#  a partial's filename should have an underscore although it is referrenced without the underscore %>

<%= form_with model: article do |form| %>
	<div>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
		<%# full_messages_for returns an array of user-friendly error messages %>
		<% article.errors.full_messages_for(:title).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

	<div>
		<%= form.label :body %>
		<%= form.text_area :body %>
		<% article.errors.full_messages_for(:body).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

	<%# select status %>
	<div>
		<%= form.label :status %><br>
		<%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
	</div>


	<div>
		<%= form.submit %>
	</div>
<% end %>
